body {
    background-color: #b59ecb;
	background-image: url("asanoha-400px.png");
}

h1 {
    color: black;
    margin-left: 20px;
}

p {
    font-family: verdana;
    font-size: 20px;
}